/* Timer Box */
#FullTimer {background-color: #000000;}
#TimerName {background-color: #808080;}
#Row1 {background-color: #bfbfbf;}
#Row2 {background-color: #a6a6a6;}
#Row3 {background-color: #bfbfbf;}
#Row4 {background-color: #a6a6a6;}
#Row5 {background-color: #bfbfbf;}
#Row6 {background-color: #a6a6a6;}
#Row7 {background-color: #bfbfbf;}
#Row8 {background-color: #a6a6a6;}
#Timer {background-color: #808080;}
