/* Timer Align */
#TimerAlign {float: left; width: 1000px; height: 500px;}

/* Timer Box */
#FullTimer {background-color: #000000; padding: 5px; width: 450px; margin-left: 10px; margin-right: 0px; float: left;}
#TimerName {background-color: #808080; padding: 5px;}
#Row1 {background-color: #bfbfbf; padding: 5px;}
#Row2 {background-color: #a6a6a6; padding: 5px;}
#Row3 {background-color: #bfbfbf; padding: 5px;}
#Row4 {background-color: #a6a6a6; padding: 5px;}
#Row5 {background-color: #bfbfbf; padding: 5px;}
#Row6 {background-color: #a6a6a6; padding: 5px;}
#Row7 {background-color: #bfbfbf; padding: 5px;}
#Row8 {background-color: #a6a6a6; padding: 5px;}
#Row9 {background-color: #bfbfbf; padding: 5px;}
#Row10 {background-color: #a6a6a6; padding: 5px;}
#Timer {background-color: #808080; padding: 5px; font-weight: bold; color: #ffffff; font-size: 20px;}

/* Slot Input */
#Summary {background-color: #808080; padding: 5px;}
#FullInput {background-color: #000000; padding: 5px; width: 450px; margin-left: 10px; margin-right: auto; float: left;}
#SubmitSlots {background-color: #808080; padding: 5px;}
#TitleInput {text-align: center;}
#Slot1 {text-align: center;}
#Slot2 {text-align: center;}
#Slot3 {text-align: center;}
#Slot4 {text-align: center;}
#Slot5 {text-align: center;}
#Slot6 {text-align: center;}
#Slot7 {text-align: center;}
#Slot8 {text-align: center;}
#Slot9 {text-align: center;}

/* Headers */
h1 {text-align: center; font-size: 75px;}
h2 {text-align: center; color: #ffffff; font-size: 50px; padding: 0px;}
